version: "3.9"

services:
  api:
    build: .
    container_name: llm_api
    ports:
      - "8080:8080"        # ホスト8080 -> コンテナ8080
    environment:
      - OLLAMA_HOST=http://ollama_rebva:11434
      - DB_URL=sqlite:///./data/chat.db
      - JWT_SECRET=CHANGE_THIS_SECRET_KEY
      - JWT_ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=60
    volumes:
      - ./data:/app/data
      - ./chroma_db:/app/chroma_db
    networks:
      - garak-net

networks:
  garak-net:
    external: true
