fastapi
uvicorn[standard]
requests
SQLAlchemy
python-jose[cryptography]
# RAG / LangChain / Chroma まわり
langchain==0.3.0
langchain-community
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
pymupdf
huggingface-hub
fugashi
ipadic
unidic-lite
janome
pandas
transformers[ja]
requests
beautifulsoup4